<launch>

    <arg name="project" default="lio_sam"/>
    <rosparam file="$(find lio_sam)/config/params.yaml" command="load" />

    <env name="ROSCONSOLE_CONFIG_FILE" value="$(find robot_localization)/rosconsole_info.conf"/>
    
    <!-- EKF GPS-->
    <node pkg="robot_localization" type="ekf_localization_node" name="ekf_gps" respawn="true" output="screen">
        <remap from="odometry/filtered" to="odometry/navsat" />
    </node>

    <!-- Navsat -->
    <node pkg="robot_localization" type="navsat_transform_node" name="navsat" respawn="true" output="screen">
        <rosparam param="datum">[33.0278886555, 112.4226559, 128.051]</rosparam>
        <remap from="imu/data" to="/imu/data" />
        <remap from="gps/fix" to="/fix" />
        <remap from="odometry/filtered" to="/odometry/navsat" />
    </node>

</launch>